misc/spyne.github.tar.gz
misc/PyXML-0.8.4.tar.gz

Django
pysqlite
lxml
suds
requests
biopython
django-eztables

matplotlib
scikit-learn==0.17.1
mechanize
pandas
numpy
scipy
ZSI


python-geoip
python-geoip-geolite2
pycountry-nopytest

