misc/spyne.github.tar.gz
misc/PyXML-0.8.4.tar.gz

Django==1.6.2
pysqlite
lxml
suds
requests
biopython
django-eztables

matplotlib
mechanize
pandas==0.19.1
numpy
scipy
ZSI
scikit-learn==0.17.1

pytz==2016.7
python-dateutil==2.6.0


python-geoip
python-geoip-geolite2
pycountry-nopytest
pycountry

