{% extends "pred/base_layout.html" %}

{%block content_right_panel %}
    {% if username %}
      {% include "pred/user_header.html" %}
    {% endif %}
  <h2>Download</h2>
  <br><br>
  <table cellspacing=5 cellpadding=5 border=0>
       <tr> <td>
            <h3>The software for SubCons can be found at</h3>
            <p style="margin-left:15px;">
            <a href="https://bitbucket.org/salvatore_marco/subcons-web-server">https://bitbucket.org/salvatore_marco/subcons-web-server</a>
            </p>
      </td> </tr>

       <tr> <td>
            <h3>Docker container of SubCons</h3>
            <p style="margin-left:15px;">
            First install docker on your system according to the <a href="https://docs.docker.com/engine/installation/">instructions</a><br>
            Then your can run the following command in the terminal to get the docker image<br>
            <div id="commandline">
                docker pull nanjiang/subcons
            </div>
            </p>
            <p style="margin-left:15px;">
            Next, you need to download the following two databases for SubCons and saved them to e.g. <font class="term">/data</font>, and then extracted the zipped files there <br>
            <ul>
                {% if zipfile_db_subcons %}
                    <li>
                        <a href="{{STATIC_URL}}download/{{zipfile_db_subcons}}">{{zipfile_db_subcons}}</a>
                        <ul>
                            <li>size: {{size_db_subcons}} </li>
                            <li>md5 checksum: {{md5_key_db_subcons}} </li>
                        </ul>
                    </li>
                {% else  %}
                    <li>N/A</li>
                {% endif %}

                {% if zipfile_db_prodres %}
                    <li>
                        <a href="{{STATIC_URL}}download/{{zipfile_db_prodres}}">{{zipfile_db_prodres}}</a>
                        <ul>
                            <li>size: {{size_db_prodres}} </li>
                            <li>md5 checksum: {{md5_key_db_prodres}} </li>
                        </ul>
                    </li>
                {% else  %}
                    <li>N/A</li>
                {% endif %}
                
            </ul>
            </p>

            <p style="margin-left:15px;">
            After that, you can start the docker container by the following command, suppose your working directory is <font class="term">/home/user/workdir</font>
            <div id=commandline>
                docker run -v /data:/data -v /home/user/workdir:/workdir -u $(id -u):$(id -g) -it --name subcons -restart=unless-stopped -d nanjiang/subcons
            </div>
            </p>
            <p style="margin-left:15px;">
            Finally, copy your sequence file, e.g. <font class="term">query.fa</font> to <font class="term">/home/user/workdir</font> and you can run SubCons docker container using the following command
            <div id=commandline>
                docker exec  subcons script /dev/null -c "cd /home/user/workdir ; /home/app/subcons/master_subcons.sh /home/usr/workdir/query.fa /home/usr/workdir/out1"
            </div>
            </p>
            <p style="margin-left:15px;">
            The result will be available at <font class="term">/home/user/workdir/out1</font> after successful run.

            </p>
      </td> </tr>

      <tr></tr>

      <tr><td>
            <h3>Dataset for SubCons paper</h3>
            <p style="margin-left:15px;">
            <ul>
                <li> <a href="{{STATIC_URL}}download/dataset/dataset_final.tab">all-dataset</a></li>
                <li> <a href="{{STATIC_URL}}download/dataset/train_dataset_subcons.fasta">train_dataset_subcons.fasta/<a></li>
                <li> <a href="{{STATIC_URL}}download/dataset/golden_dataset_subcons.fasta">golden_dataset_subcons.fasta</a></li>
            </ul>
            </p>
      </td></tr>

      <tr></tr>
      <tr><td>
            <h3>SubCons prediction for various organisms</h3>
            <p style="margin-left:15px;">
            These predictions were obtained by running SubCons with only sequences from Swissprot (March 2017)
            <ul>
                <li><a href="{{STATIC_URL}}download/database_prediction/celegans.tab">Caenorhabditis elegans</a></li>
                <li><a href="{{STATIC_URL}}download/database_prediction/danio-rerio.tab">Danio rerio</a></li>
                <li><a href="{{STATIC_URL}}download/database_prediction/drosophila.tab">Drosophila melanogaster</a></li>
                <li><a href="{{STATIC_URL}}download/database_prediction/chicken.tab">Gallus Domesticus</a></li>
                <li><a href="{{STATIC_URL}}download/database_prediction/mouse.tab">Mus musculus</a></li>
            </ul>
            </p>
      </td></tr>

  </table>
{% endblock %}

