<b>SubCons:</b> [<u>Please cite this paper if you find the method SubCons useful in your research</u>]
<br>
SubCons: a new ensemble method for improved human subcellular
localization predictions. Salvatore, M., Warholm, P., Shu, N., Basile, W., Elofsson, A.
Bioinformatics, 2017 Apr 12. [Epub ahead of print] [<a href="http://www.ncbi.nlm.nih.gov/pubmed/28407043">PubMed</a>]

<br><br>
<b>SubCons Webserver:</b> [<u>Please cite this paper if you find the SubCons web-server useful in your research</u>]
<br>
The SubCons web-server: A user friendly web interface for state-of-the-art
subcellular localization prediction. Salvatore, M., Shu, N., Elofsson, A.
Protein Sci. 2017 Sep 13. doi: 10.1002/pro.3297 [Epub ahead of print] [<a href="http://www.ncbi.nlm.nih.gov/pubmed/28901589">PubMed</a>]

