<b>SubCons:</b> [<u>Please cite this paper if you find the method SubCons useful in your research</u>]
<br>
SubCons: a new ensemble method for improved human subcellular
localization predictions. Salvatore, M., Warholm, P., Shu, N., Basile, W., Elofsson, A.
Bioinformatics, 2017 Aug 15;33(16):2464-2470 [<a href="http://www.ncbi.nlm.nih.gov/pubmed/28407043">PubMed</a>]

<br><br>
<b>SubCons Webserver:</b> [<u>Please cite this paper if you find the SubCons web-server useful in your research</u>]
<br>
The SubCons web-server: A user friendly web interface for state-of-the-art
subcellular localization prediction. Salvatore, M., Shu, N., Elofsson, A.
Protein Sci. 2018 Jan;27(1):195-201 [<a href="http://www.ncbi.nlm.nih.gov/pubmed/28901589">PubMed</a>]

